 
<div class="download">
  <div class="download-header">下载列表</div>
  <div class="download-label">
    <div class="download-label-left">共**条任务？已完成**条/未完成多少条</div>
    <div class="download-label-right">删除</div>
  </div>
  <div class="download-wrap">
    <table class="common-table list-table">
      <thead>
        <tr>
          <th class="list-checkall">
            <input type="checkbox" class="list-check list-check-all">
          </th>
          <th class="list-type">类型</th>
          <th class="list-problem">文件名称</th>
          <th class="list-time">开始时间</th>
          <th class="list-state">结束时间</th>
          <th class="list-operate">状态</th>
        </tr>
      </thead>
      <tbody id="list-cont">
        <tr>
          <td class="list-check">
            <input type="checkbox">
          </td>
          <td>批量测试</td>
          <td>保单类批量测试文档</td>
          <td>2017-6-22 16:00</td>
          <td></td>
          <td>未完成</td>
        </tr>
        <tr>
          <td class="list-check">
            <input type="checkbox">
          </td>
          <td>批量测试</td>
          <td>保单类批量测试文档</td>
          <td>2017-6-22 16:00</td>
          <td>2017-6-22 16:05</td>
          <td>未完成</td>
        </tr>
        <tr>
          <td class="list-check">
            <input type="checkbox">
          </td>
          <td>批量测试</td>
          <td>保单类批量测试文档</td>
          <td>2017-6-22 16:00</td>
          <td>2017-6-22 16:05</td>
          <td>未完成</td>
        </tr>
        <tr>
          <td class="list-check">
            <input type="checkbox">
          </td>
          <td>批量测试</td>
          <td>保单类批量测试文档</td>
          <td>2017-6-22 16:00</td>
          <td>2017-6-22 16:05</td>
          <td>未完成</td>
        </tr>
        <tr>
          <td class="list-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="list-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="list-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="list-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="list-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="list-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="list-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="list-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="list-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="list-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="paging">
      <div class="detail-text">共**条信息，每页15条 </div>
      <div class="detail-icon">
        <span class="icon icon-arrow-le"></span>
        <span class="icon icon-arrow-l"></span>
        <span class="icon icon-line"></span>
        <div class="detail-page">
          <div class="page-text">第</div>
          <div class="detail-page1">3</div>
          <div class="page-text">页</div>
        </div>
        <div class="allpage-text">共100页</div>
        <span class="icon icon-line"></span>
        <span class="icon icon-arrow-r"></span>
        <span class="icon icon-arrow-re"></span>
      </div>
    </div>
  </div>
</div>
 