<div class="list">
  <div class="list-header">反馈列表</div>
  <div class="list-label">
      <div class="list-label-left">共**条任务？已完成**条/未完成多少条</div>
      <div class="list-label-right" id="dialog-feedbackadd-button">问题反馈</div>
  </div>
  <div class="list-wrap">
    <table class="common-table list-table">
      <thead>
        <tr>
          <th class="list-checkall">
            <input type="checkbox" id="list-check">
          </th>
          <th class="list-type">类型</th>
          <th class="list-problem">问题描述</th>
          <th class="list-time">提交时间</th>
          <th class="list-state">状态</th>
          <th class="list-operate">操作</th>
        </tr>
      </thead>
      <tbody id="list-cont">
        <tr>
          <td class="list-check">
            <input type="checkbox" id="list-check1">
          </td>
          <td>词类</td>
          <td>知识点***下的标准问</td>
          <td>2017-6-22</td>
          <td>处理中</td>
          <td>
            <span class="edit">编辑</span>
            <span class="delete">删除</span>
          </td>
        </tr>
        <tr>
          <td  class="list-check">
            <input type="checkbox" id="list-check2">
          </td>
          <td>词类</td>
          <td>知识点***下的标准问</td>
          <td>2017-6-22</td>
          <td>处理中</td>
          <td>
            <span class="edit">编辑</span>
            <span class="delete">删除</span>
          </td>
        </tr>
        <tr>
          <td  class="list-check">
            <input type="checkbox" id="list-check3">
          </td>
          <td>词类</td>
          <td>知识点***下的标准问</td>
          <td>2017-6-22</td>
          <td>处理中</td>
          <td>
            <span class="edit">编辑</span>
            <span class="delete">删除</span>
          </td>
        </tr>
        <tr>
          <td class="list-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="list-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="list-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="list-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="list-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="list-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="list-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="list-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="list-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="list-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="list-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="paging">
      <div class="detail-text">共**条信息，每页15条 </div>
      <div class="detail-icon">
        <span class="icon icon-arrow-le"></span>
        <span class="icon icon-arrow-l"></span>
        <span class="icon icon-line"></span>
        <div class="detail-page">
          <div class="page-text">第</div>
          <div class="detail-page1">3</div>
          <div class="page-text">页</div>
        </div>
        <div class="allpage-text">共100页</div>
        <span class="icon icon-line"></span>
        <span class="icon icon-arrow-r"></span>
        <span class="icon icon-arrow-re"></span>
      </div>
    </div>
  </div>
  </div>
</div>   