<div class="insert-knowledge">
  <div class="knowledge-header">
    <div class="knowledge-header-left">
      <div class="knowledge-list"><a href="#/knowledge-management/knowledge">导入知识点</a></div>
      <div class="knowledge-list knowledge-export">导出知识点</div>
      <div class="knowledge-list knowledge-optimization">优化中心</div>
    </div>
    <div class="knowledge-header-right">
      <div class="search">
        <input type="text">
        <input type="button" class="search-text" value="搜索">
      </div>
      <div class="advanced-search"> 高级搜索</div>
    </div>  
  </div>
  <div class="structure-label">
      <div class="structure-label-left">
        <span class="structure-label-left-icon"><</span>
        <span class="structure-label-left-text">个人养老保险查询</span>
      </div>
      <div class="structure-label-center">
        <div class="structure-label-center-answer"><a href="#/knowledge-management/insert-answer">答案</a></div>
        <div class="structure-label-center-structure"><a href="#/knowledge-management/insert-structure">句式</a></div>
      </div>
      <div class="structure-label-right">
        <ul class="structure-label-list">
          <li class="structure-label-list-item add-structure-button">添加句式</li>
          <li class="structure-label-list-item del-knowledge">删除</li>
          <li class="structure-label-list-item use-knowledge">启用</li>
          <li class="structure-label-list-item disable-knowledge">禁用</li>
        </ul>
        <div class="add-structure-dialog-main">
          <div class="triangle-mix">
            <div class="triangle-mix-outer-triangle"></div>
            <div class="triangle-mix-inner-triangle"></div>
          </div>
          <div class="add-structure-dialog">
            <div class="add-structure-select all-add">单句/批量添加</div>
            <div class="add-structure-select web-add">网络挖掘添加</div>
          </div>
        </div>
      </div>
  </div>
  <div class="structure-wrap">
    <table class="common-table">
      <thead>
        <tr>
          <th class="structure-checkall">
            <input type="checkbox" class="knowledge-check-all">
          </th>
          <th class="structure-name">句式</th>
          <th class="structure-revise">修改</th>
        </tr>
      </thead>
      <tbody id="structure-cont">
        <tr>
          <td class="knowledge-check">
            <input type="checkbox" class="knowledge-check1">
          </td>
          <td>个人养老保险金查询</td>
            <td><span class="icon icon-revise"></span></td>
        </tr>
        <tr>
          <td class="knowledge-check">
            <input type="checkbox" class="knowledge-check1">
          </td>
          <td>个人养老保险金查询</td>
          <td><span class="icon icon-revise"></span></td>
        </tr>
        <tr>
          <td class="knowledge-check">
            <input type="checkbox" class="knowledge-check1">
          </td>
          <td>个人养老保险金查询</td>
            <td><span class="icon icon-revise"></span></td>
        </tr>
        <tr>
          <td class="knowledge-check"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="knowledge-check"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="knowledge-check"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="knowledge-check"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="knowledge-check"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="knowledge-check"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="knowledge-check"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="knowledge-check"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="knowledge-check"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="knowledge-check"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="knowledge-check"></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="paging">
      <div class="detail-text">共**条信息，每页15条 </div>
      <div class="detail-icon">
        <span class="icon icon-arrow-le"></span>
        <span class="icon icon-arrow-l"></span>
        <span class="icon icon-line"></span>
        <div class="detail-page">
          <div class="page-text">第</div>
          <div class="detail-page1">3</div>
          <div class="page-text">页</div>
        </div>
        <div class="allpage-text">共100页</div>
        <span class="icon icon-line"></span>
        <span class="icon icon-arrow-r"></span>
        <span class="icon icon-arrow-re"></span>
      </div>
    </div>
  </div>
  <div class="modify-content">
    <form action="" class="modify-content-main">
      <div class="modify-content-textarea-main">
        <label for="" class="modify-content-textarea-title">句式:</label>
        <textarea class="modify-content-textarea modify-content-textarea-structure"></textarea>
      </div>
      <br>
      <div class="modify-content-button">
        <input type="button" value="保存" class="modify-content-ok">
        <input type="button" value="取消" class="modify-content-cancel">
      </div>
    </form>
  </div>
</div>