<div class="insert-knowledge">
  <div class="knowledge-header">
    <div class="knowledge-header-left">
      <div class="knowledge-list"><a href="#/knowledge-management/knowledge">导入知识点</a></div>
      <div class="knowledge-list knowledge-export">导出知识点</div>
      <div class="knowledge-list knowledge-optimization">优化中心</div>
    </div>
    <div class="knowledge-header-right">
      <div class="search">
        <input type="text">
        <input type="button" class="search-text" value="搜索">
      </div>
      <div class="advanced-search"> 高级搜索</div>
    </div>  
  </div>
  <div class="knowledge-label">
    <div class="knowledge-label-left">标准问列表</div>
    <div class="knowledge-label-right">
      <ul class="knowledge-label-list">
        <li class="knowledge-label-list-item add-standard-question">添加标准问</li>
        <li class="knowledge-label-list-item del-knowledge">删除</li>
        <li class="knowledge-label-list-item use-knowledge">启用</li>
        <li class="knowledge-label-list-item disable-knowledge">禁用</li>
      </ul>
    </div>
  </div>
  <div class="knowledge-wrap">
    <table class="common-table">
      <thead>
        <tr>
          <th class="knowledge-checkall">
            <input type="checkbox" class="knowledge-check-all">
          </th>
          <th class="knowledge-name">知识名称</th>
          <th class="knowledge-problem">标准问</th>
          <th class="knowledge-watch">查看</th>
          <th class="knowledge-revise">修改</th>
        </tr>
      </thead>
      <tbody id="knowledge-cont">
        <tr>
          <td class="knowledge-check">
            <input type="checkbox" class="knowledge-check1">
          </td>
          <td>个人养老保险金</td>
          <td>个人养老保险金查询</td>
          <td>
            <span class="icon-problem">(1)</span>
            <span class="icon-message">(1)</span>
          </td>
          <td>
            <span class="icon icon-revise"></span>
          </td>
        </tr>
        <tr>
          <td class="knowledge-check">
            <input type="checkbox" class="knowledge-check1">
          </td>
          <td>个人养老保险金</td>
          <td>个人养老保险金查询</td>
          <td>
            <span class="icon-problem">(1)</span>
            <span class="icon-message">(1)</span>
          </td>
          <td><span class="icon icon-revise"></span></td>
        </tr>
        <tr>
          <td class="knowledge-check">
            <input type="checkbox" class="knowledge-check1">
          </td>
          <td>个人养老保险金</td>
          <td>个人养老保险金查询</td>
          <td>
            <span class="icon-problem">(1)</span>
            <span class="icon-message">(1)</span>
          </td>
           <td><span class="icon icon-revise"></span></td>
        </tr>
        <tr>
          <td class="knowledge-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="knowledge-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="knowledge-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="knowledge-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="knowledge-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="knowledge-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="knowledge-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="knowledge-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="knowledge-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="knowledge-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="knowledge-check"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="paging">
      <div class="detail-text">共**条信息，每页15条 </div>
      <div class="detail-icon">
        <span class="icon icon-arrow-le"></span>
        <span class="icon icon-arrow-l"></span>
        <span class="icon icon-line"></span>
        <div class="detail-page">
          <div class="page-text">第</div>
          <div class="detail-page1">3</div>
          <div class="page-text">页</div>
        </div>
        <div class="allpage-text">共100页</div>
        <span class="icon icon-line"></span>
        <span class="icon icon-arrow-r"></span>
        <span class="icon icon-arrow-re"></span>
      </div>
    </div>
  </div>
  <div class="modify-content">
    <form action="" class="modify-content-main">
      <label for="" class="modify-content-input-title">知识名称:</label>
      <input type="text" class="modify-content-input">
      <br>
      <div class="modify-content-textarea-main">
        <label for="" class="modify-content-textarea-title">标准问:</label>
        <textarea class="modify-content-textarea"></textarea>
      </div>
      <br>
      <div class="modify-content-button">
        <input type="button" value="保存" class="modify-content-ok">
        <input type="button" value="取消" class="modify-content-cancel">
      </div>
    </form>
  </div>
</div>
