<div class="insert-answer-dialog">
  <div class="insert-answer-dialog-header">添加答案</div>
  <div class="insert-answer-dialog-center">
    <span class="icon icon-answer-text"></span>
    <span class="icon icon-answer-pic"></span>
    <span class="icon icon-answer-video"></span>
    <span class="icon icon-answer-tts"></span>
    <span class="icon icon-answer-other"></span>
  </div>
  <div class="insert-answer-dialog-content">
    <input type="button" value="确定" class="answer-dialog-remove">
    <input type="button" value="取消" class="answer-dialog-remove">
  </div>
</div>  