<div class="old-user">
  <div class="my-knowledge">
    <h1 class="my-knowledge-title">我的知识库</h1>
    <div class="my-knowledge-add"><a href="#/knowledge-management/insert-knowledge"></a></div>
    <div class="my-knowledge-number">
      <span class="my-knowledge-number-content">知识点：100个</span>
      <span class="my-knowledge-number-content">标准问：100条</span>
      <span class="my-knowledge-number-content">句式：100条</span>
    </div>    
  </div>
  <div class="knowledge-datagram">
    <div class="datagram">
      <span class="pie-line">饼</span>
      <div id="pie-datagram-content" class="datagram-content"></div>
    </div>
    <div class="datagram datagram-line">
      <span class="pie-line">趋</span>
      <div id="line-datagram-content" class="datagram-content"></div>
    </div>
  </div>
</div>  

