<div class="optimization">
  <!-- 优化中心头部 -->
  <div class="optimization-title">
    <div class="optimization-title-left">优化中心</div>
    <div class="optimization-title-right">
      <span class="optimization-title-right-sub">_</span>
      <span class="optimization-title-right-cal">X</span>
    </div>
  </div>
  <!-- 优化中心主要内容 -->
  <div class="optimization-content">
    <!-- 主要内容左侧-聊天框 -->
    <div class="optimization-content-left">
      <div class="optimization-content-left-main"></div>
      <div class="optimization-content-left-send">
        <div class="send-mode">
          <span class="mode-select"><i class="select-circle"></i>调试模式</span>
          <span class="mode-select"><i class="select-circle"></i>单句模式</span>
          <span class="mode-select"><i class="select-circle"></i>批量模式</span>
        </div>
        <input type="button" class="send-upload" value="上传">
        <div class="send-clear">清空记录</div>
      </div>
      <div class="optimization-content-left-input">
        <textarea class="optimization-content-left-input-main"></textarea>
        <input type="button" class="optimization-content-left-input-button" value="发送">
      </div>
    </div>
    <!-- 主要内容右侧-搜索部分 -->
    <div class="optimization-content-right">
      <div class="optimization-content-right-search">
        <p class="right-search-title">确定“查一下上个...”目标知识点</p>
        <i class="right-search-input-icon"></i>
        <input type="text" class="right-search-input" placeholder="搜索知识点">
      </div>
      <div class="optimization-content-right-result"></div>
      <div class="optimization-content-right-add">
        <p class="optimization-add-title">确定优化规则</p>
        <textarea cols="30" rows="7" class="optimization-rule"></textarea>
        <p class="ptimization-rule-warn">加入到“翼支付业务</p>
        <input type="button" class="optimization-Storage" value="入库">
      </div>
    </div>
  </div>
</div>