<!-- 数据监控上方 -->
<div class="supervise-wrap">
  <div class="supervise-top">
    <div class="supervise-top-common common-special">
      <div class="supervise-inner">
        <p class="supervise-top-title">我的知识库</p>
        <div class="knowledge-circle"></div>
        <p class="knowledge-number">
          知识点：100个<br>
          标准问：100条<br>
          句&nbsp;式：100条
        </p>
      </div>    
    </div>
    <div class="supervise-top-common">
      <div class="supervise-inner">
        <p class="supervise-top-title">TOP</p>
        <div class="knowledge-circle knowledge-top"></div>
        <p class="knowledge-number">
          热门知识点：<br>
          **************<br>
          易动知识点：<br>
          **************
        </p>
      </div>    
    </div>
    <div class="supervise-top-common">
      <div class="supervise-inner">
        <p class="supervise-top-title">一周变动</p>
        <div class="knowledge-circle knowledge-week"></div>
        <p class="knowledge-number">
          新增知识点：100个<br>
          新增标准问：100条<br>
          新增句式：100条
        </p>
      </div>    
    </div>  
  </div>
  <!-- 数据监控下方 -->
  <div class="supervise-bottom">
    <div class="supervise-bottom-select">
      <h3 class="supervise-bottom-select-title">知识点、标准问、句式变化趋势图</h3>
      <div class="supervise-bottom-select-tool">
        <div class="select-tool-day">
          <i></i>
          <span>日报</span>
        </div>
        <div class="select-tool-day select-tool-day-week">
          <i></i>
          <span>周报</span>
        </div>
        <div class="select-tool-day select-tool-day-month">
          <i></i>
          <span>月报</span>
        </div>
      </div>
      <div class="supervise-bottom-select-time">
        <span>选择时间</span>
        <i></i>
      </div>
    </div>
    <div id="supervise-line">
      
    </div>
  </div>
</div>
