div.ui-dialog
  border: none

.ui-dialog-grid .ui-dialog-header
  width: 100%
  background: #f4f4f4
  border-radius: 5px

.ui-dialog-grid .ui-dialog-title
  font-size: 14px
  color: #484848
  padding: 10px
  
.ui-dialog-grid .ui-dialog-close
  top: 8px
  rigth: 15px

.ui-dialog-footer .ui-dialog-button button 
  width: 113px
  height: 34px
  background: #91B7FF
  font-size: 14px
  color: #fff
  border: none
  border-radius: 5px
  margin: 0
  box-shadow: 0px 3px 3px #78a0ed
  
  &:focus
    outline: none
  
.ui-dialog-footer .ui-dialog-button button:nth-child(2)
  background: #E1EBFF
  color: #6C9FFF
  box-shadow: 0px 3px 3px #C9DCFF
  margin-left: 42px
  margin-right: 20px
  
.ui-dialog-content
  margin: 21px 0 21px 21px
  color: #333
  font-size: 16px
  
.warn-dialog-icon
  display: inline-block
  width: 40px
  height: 30px
  background: url("~images/icon/dialog-warning.png") no-repeat
  vertical-align: middle
  margin-right: 13px
