.data-platform-list
  height: 100%
  background-color: #4778C7
  
  .data-platform-list-item
    height: 50px
    width: 100%
    text-align: center
    line-height: 50px
    color: #FFF
    cursor: pointer
    
    &.active
      background-color: #3D6EDB
