.download
  height: 100%
  background: #FFF
  border-radius: 4px
  border: 1px solid #D8E0EA
  overflow: hidden

  .download-header 
    height: 47px
    width: calc(100% - 240px - 20px)
    padding-left: 20px
    font-size: 14px
    border-bottom: 1px solid #D8E0EA
    line-height: 47px
      
  .download-label 
    width: 100%
    height: 45px
    line-height: 45px
    font-size: 12px
    background: #F3F7FF
.download-label
  .download-label-left 
    float: left
    padding-left: 20px
        
  .download-label-right 
    float: right
    width: 53px
    height: 23px
    line-height: 23px
    background: #78A7FF
    margin: 10px 20px 0 0
    text-align: center
    color: #FFF
    cursor: pointer
        
.download
  .download-wrap 
    text-align: center
    font-size: 12px
    height: calc(100% - 47px - 45px)
    overflow-x: hidden
    overflow-y: auto
    
.icon-revise
  cursor: pointer