.selectType
  width: 136px
  height: 25px
  border: 1px solid #D1D1D1
  color: #666
  border-radius: 3px
  font-size: 14px
  
.selectType-title
.problemDetail-title
  margin-left: 23px
  margin-right: 17px
  color: #666
  font-size: 12px
  
.problemDetail-title
  display: inline-block
  margin-top: 25px
  
.problemDetail
  width: 398px
  height: 128px
  vertical-align: top
  margin-top: 12px
  resize: none
  border: 1px solid #D1D1D1
  font-size: 14px
  color: #666
  
.feedback-dialog-main
  margin: -42px 0 0 -26px
  
.feedback-dialog-header
  height: 44px
  line-height: 44px
  color: #333
  
.feedback-dialog-close
  float: right
  color: #B9BABD
  cursor: pointer
  
.feedback-dialog-title
  color: #333
  font-size: 14px
  
