.icon
  display: inline-block
  background-repeat: no-repeat
  background-position: center center

.icon-logo
  width: 36px
  height: 35px
  background-image: url("~images/icon/logo.png")

.icon-ball
  width: 828px
  height: 491px
  background-image: url("~images/icon/ball.png")
  
.icon-user
  width: 16px
  height: 16px
  background-image: url("~images/icon/user.png")
  
.icon-pwd
  width: 15px
  height: 18px
  background-image: url("~images/icon/pwd.png")
  
.icon-download,
.icon-user-x,
.icon-exit
  width: 26px
  height: 26px

.icon-download
  background-image: url("~images/icon/download.png")

.icon-user-x
  background-image: url("~images/icon/user-x.png")

.icon-exit
  background-image: url("~images/icon/exit.png")
.icon-arrow-le
  width: 31px
  height 36px
  background-image: url("~images/icon/arrow-le.png") 
.icon-arrow-l
  width: 18px
  height: 36px
  background-image: url("~images/icon/arrow-l.png") 
.icon-arrow-re
  width: 26px
  height: 42px
  background-image: url("~images/icon/arrow-re.png") 
.icon-arrow-r
  width: 18px
  height: 36px
  background-image: url("~images/icon/arrow-r.png")   
.icon-line
  width: 11px
  height: 36px
  background-image: url("~images/icon/line.png")  
.icon-add-knowledge
  width: 143px
  height: 143px
  cursor: pointer
  background-image: url("~images/icon/add-knowledge.png")
.icon-problem 
  width: 17px
  height: 18px
  padding-left: 22px
  cursor: pointer
  background: url("~images/icon/problem.png") no-repeat

.icon-message 
  width: 16px
  height: 17px
  padding-left: 21px
  margin-left: 35px
  cursor: pointer
  background: url("~images/icon/watch.png") no-repeat

.icon-revise 
  display: inline-block
  width: 18px
  height: 17px
  background: url("~images/icon/revise.png") no-repeat
  
.icon-date
  width: 16px
  height: 16px
  background: url("~images/icon/date.png") no-repeat
.icon-answer-text
  width: 23px
  height: 20px
  margin-right: 7px
  background: url("~images/icon/answer-text.png") no-repeat
.icon-answer-tts
  width: 29px
  height: 15px
  margin-right: 7px
  background: url("~images/icon/answer-tts.png") no-repeat
.icon-answer-pic
  width: 21px
  height: 18px
  margin-right: 7px
  background: url("~images/icon/answer-pic.png") no-repeat
.icon-answer-video
  width: 21px
  height: 18px
  margin-right: 7px
  background: url("~images/icon/answer-video.png") no-repeat
.icon-answer-other
  width: 17px
  height: 17px
  background: url("~images/icon/answer-other.png") no-repeat