.structure-label
  .structure-label-center-answers
    display: inline-block
    border: none
    padding: 0 10px
    background-color: #BACBEC
    color: #FFF
  .structure-label-center-structures
    display: inline-block
    padding: 0 10px
.answer-wrap 
  font-size: 12px
  
  .answer-form
    margin: 30px 0 20px 30px
    font-weight: 700
    input
      border: none
    .answer-title
      display: inline-block
      margin-right: -32px
    .answer-text
      margin: 3px 3px 0 50px

  
  .alone-table
    text-align: center
    border 1px solid #DFE7F1 
    thead
      .answer-checkall 
        border-left: none
        text-align: center
    
      .answer-type
        width: 18%
    
      .answer-name
        width: 40% 
      .answer-date
        width: 14% 
      .answer-revise
        width: 15%
          
    tbody
      &:last-child
        td
          border-bottom: 0
      .answer-check 
        width: 150px
        height: 36px
        border-left: none
        text-align: center
      .line
        display: inline-block
        width: 20px
        height: 9px
        border-top: 1px solid #C7DBFF
.insert-answer-dialog
  background-color: #ccc
  
.icon-date
  cursor: pointer
  
.mydateend-main
.mydatestart-main
  width: 200px
  height: 200px
  position: absolute
  top: 0px
  left: 0px
  
.answer-text-modify
  margin-left: 10px