  .insert-answer-dialog
    background: #FFF
    border-radius: 4px
    border: 1px solid #D8E0EA
    overflow: hidden
    margin: -21px 0 0 -21px
   
    .insert-answer-dialog-header
      height: 43px
      width: 100%
      padding-left: 18px
      line-height: 43px
      box-sizing: border-box
      font-size: 12px
    .insert-answer-dialog-center
      padding-left: 18px
      height: 45px
      line-height: 55px
      border-bottpm: 1px solid #DFE7F1
      border-top: 1px solid #DFE7F1
      background-color: #F3F7FF
  
    .insert-answer-dialog-content
      position: absolute
      
      input
        border: none
        height: 27px
        line-height: 27px
        border-radius: 3px
        padding: 0 26px
        &:first-child
          background-color: #91B7FF
          margin-right: 10px
          color: #FFF
        &:last-child
          background-color: #E1EBFF
          color: #91B7FF
          
.insert-answer-dialog-content-main
  width: 1099px
  height: 415px
  border: none
  resize: none
  
.insert-answer-dialog-content-footer
  height: 80px
  float: right
  margin-right: 23px
  margin-top: 20px

.answer-dialog-remove
  font-size: 12px