.insert-knowledge 
  height: 100%
  background: #FFF
  border-radius: 4px
  border: 1px solid #D8E0EA
  overflow: hidden
  position: relative

  .knowledge-label 
    width: 100%
    height: 45px
    line-height: 45px
    font-size: 12px
    background: #F3F7FF
    border-bottom: 1px solid #E4EAF3

    .knowledge-label-left 
      float: left
      font-size: 14px
      margin-left: 10px


    .knowledge-label-right 
      float: right
      margin-right: 10px
      margin-top: 9px
      
      .knowledge-label-list 
        list-style: none
        
    .knowledge-label-list 
      .knowledge-label-list-item 
        float: left
        height: 26px;
        line-height: 26px
        border-radius: 3px
        margin-left: 10px
        padding: 0 15px
        cursor: pointer
        background-color: #DFE2E7
        &:first-child
          background-color: #78A7FF
          color: #FFF
            
.insert-knowledge
  .knowledge-wrap
    text-align: center
    font-size: 12px
    height: calc(100% - 47px - 45px)
    overflow-x: hidden
    overflow-y: auto
    
    thead
      .knowledge-checkall
        border-left: none
        text-align: center
  
      .knowledge-name
        width: 18%

      .knowledge-problem 
        width: 30%
  
      .knowledge-watch
        width: 24%

      .knowledge-revise
        width: 20% 
          
    tbody
      .knowledge-check
        width: 100px
        height: 32px
        border-left: none
        text-align: center

.common-table
  width: 100%
  
.modify-ok
.modify-cancel
.modify-content-ok
.modify-content-cancel
  width: 40px
  height: 20px
  border: none
  border-radius: 3px
  background: #91B7FF
  color: #fff
  cursor: pointer
  
.modify-cancel
.modify-content-cancel
  background: #E1EBFF
  color: #6C9FFF
  
.modify-cancel
  margin-left: 8px
  
.modify-content
  width: 100%
  height: 250px
  position: absolute
  bottom: 0
  background: #fff
  border-top: 1px solid #ccc
  display: none
  
.modify-content-input
  width: 700px
  height: 30px
  
.modify-content-textarea
  width: 700px
  height: 100px
  vertical-align: text-top
  resize: none
  
.modify-content-input-title
.modify-content-textarea-title
  display: inline-block
  font-size: 14px
  width: 60px
  
.modify-content-main
  margin-top: 30px
  margin-left: 30px
  
.modify-content-textarea-main
  margin-top: 20px
  
.modify-content-ok
.modify-content-cancel
  width: 80px
  height: 30px
  
.modify-content-cancel
  margin-left: 20px
  
.modify-content-button
  float: right
  margin-right: 80px
  