.knowledge 
  height: 100%
  background: #FFF
  border-radius: 4px
  border: 1px solid #D8E0EA
  overflow: hidden
            
.knowledge
  .knowledge-content 
    font-size: 12px
    width: 100%
    height: 100%
    
    .knowledge-content-list 
      width: 100%
      font-size: 12px
      margin-top: 34px
      
      .knowledge-content-list-item 
        height: 40px
        line-height: 40px
        color: #000
        font-weight: 700

    .knowledge-content-tpl
      position: relative
      width: 100%
      overflow hidden      
      padding: 30px 20px
      
      .knowledge-content-tpl-text
        height: 40px
        position: absolute
        right: 20px
        bottom: 70px
        color: #AECAFF
        font-weight: 700
        cursor: pointer
       
      .alone-table
        text-align: center
        border 1px solid #DFE7F1 
        .first-line
          & th
            border-bottom: 1px dashed #DFE7F1;
            border-left: 1px solid #E4EAF3; 
            width: 228px
            &:first-child
              border-left: none
        .second-line
          & td
            border-left: 1px solid #E4EAF3;
            &:first-child
              border: none 
         
    .choose-knowledge
      width: 130px
      height: 33px
      line-height: 33px
      border: none
      border-radius: 4px
      // margin: 34px auto
      // margin-bottom: 100px
      background-color: #91B7FF
      text-align: center
      cursor: pointer
      color: #FFF
      
.insert-knowledge-file-name
  height: 40px
  border: none
    
.insert-knowledge-file
  display: none
  
.choose-knowledge-main
  width: 130px
  margin: 34px auto
  
.app-content .left-wrap.changeWidth
  width: 40px
  