.knowledge-dialog-header
  width 345px
  height 50px
  
.knowledge-button
.answer-button
  height: 24px
  display: inline-block
  font-size: 14px
  margin-left: 7px
  cursor: pointer
  
.knowledge-button
  border-bottom: 4px solid #78A7FF
  
.answer-button
  margin-left: 18px
  
.close-button
  display: inline-block
  color: #B9BABD
  float: right
  margin-right: 10px
  cursor: pointer
  
.knowledge-dialog-input-title
  font-size: 12px
  color: #8C8C8C
  margin-left: 7px
  
.knowledge-dialog-input
  width: 248px
  height: 27px
  margin-bottom: 10px
  border 1px solid #CFCFCF
  border-radius: 3px
  
.effect-select
  display: inline-block
  color: #8A8A8A
  margin-right: 51px
  margin-top: 28px
  font-size: 12px
  
.effect-selecters
  margin-left: 7px
  position: relative
  
.effect-select-radio
  background: #fff
  opacity: 0
  position: absolute
  top: 31px
  cursor: pointer

.effect-radio
  display: inline-block
  width: 13px
  height: 13px
  border-radius: 50%
  background: #fff
  border: 1px solid #ccc
  margin-right: 7px
  vertical-align: text-bottom
    
.answer-form-dialog
  display: none
  
.answer-form-title
  display: inline-block
  width: 60px
  font-size: 12px
  color: #8C8C8C
  
.on
  background: #78A7FF
  