// 清除原本样式
.ui-dialog-title
  display: none
  
.ui-draggable .ui-dialog-titlebar
  display: none

.ui-dialog .ui-dialog-buttonpane
  border: none
  
.ui-widget.ui-widget-content
  padding: 0

// 增加知识标准问部分弹窗
// 提示头部
div.dialog-knowledge-title
  width: 100%
  height: 40px
  background: #F4F4F4
  
.dialog-knowledge-title-content
  float left
  font-size: 14px
  color: #484848
  margin: 15px 0 0 15px
  
.dialog-knowledge-title-close
  float: right
  color: #B9BABD
  font-size: 14px
  margin: 15px 15px 0 0
  cursor: pointer

.dialog-knowledge-button
  width: 112px
  height: 35px
  background: #91B7FF
  border: none
  color: #fff
  font-size: 14px
  margin: 44px 0 0 40px
  border-radius: 5px
  box-shadow: 0px 3px 3px #78a0ed

.dialog-knowledge-button-right
  background: #E1EBFF
  color: #6C9FFF
  box-shadow: 0px 3px 3px #C9DCFF
    
div.ui-dialog .ui-dialog-content
  padding: 0
  position: relative
  
.ui-dialog .ui-dialog-titlebar-close
  border: none
  
.dialog-knowledge-content
  display: inline-block
  margin: 0
  margin: 50px 0 0 96px
  font-size: 16px
  color: #333
  
.dialog-knowledge-warnicon
  position: absolute
  display: inline-block
  width: 40px
  height: 30px
  background: url("~images/icon/dialog-warning.png") no-repeat
  left: 40px
  top: 82px
