.new-user 
  height: calc(100% - 64px)
  width: 100%
  float: right
  background: #E2E8F2
  
  .creat-knowledge
    position: relative
    width: 331px
    height: 311px
    border-radius: 10px
    text-align: center
    margin: 100px auto
    background-color: #FFF
    background-image: url("~images/icon/add-knowledge-bg.png")
    background-repeat: no-repeat
    background-position: center 100px
    
    .creat-knowledge-text
      padding-top: 45px
      font-size: 30px
      color: #78A7FF

  