.old-user
  width 100%
  height 100%

.my-knowledge
  width 100%
  height 330px
  background #fff
  text-align center
  overflow hidden
  
  .my-knowledge-title
    font-size 22px
    color #99B3FF
    margin-top 60px
        
  .my-knowledge-add
    width 85px
    height 85px
    border-radius 50%
    margin 30px auto 50px 
    background url("~images/icon/add-knowledge.png") no-repeat -29px -24px
    box-shadow 0 0 40px #CDDAFD
    cursor pointer
    
    a 
      display: inline-block
      width 85px
      height 85px
    
  .my-knowledge-number
    margin-bottom 50px
    text-align center
    
    .my-knowledge-number-content
      display inline-block
      font-size 14px
      color #333
      margin 0 70px
  
.knowledge-datagram
  width 100%
  height 310px
  margin-top 10px
  
  .datagram
    width calc( ( 100% - 13px ) / 2)
    height 100%
    float left
    position relative
    margin-right 11px
    background #fff
    overflow hidden
    
    .pie-line
      display block
      width 35px
      height 35px
      border-radius 50%
      font-size 14px
      line-height 35px
      color #fff
      text-align center     
      background #74A3FA
      position absolute
      left 34px
      top 30px
    
    .datagram-content
      width 90%
      height 100%
      margin 0 auto
      padding-bottom 50px

.knowledge-datagram .datagram-line
  margin-right 0
