div.gldp-flatwhite .monyear, .gldp-flatwhite .monyear select
  background: #F8F9F9
  font-size: 12px
  
div.gldp-flatwhite .dow
  background: #fff

.gldp-flatwhite .core.border
  color: #696969
  font-size: 12px
  
.gldp-flatwhite .core.border.selected
  background: #78A7FF
  color: #fff

.gldp-flatwhite .core.border.today
  background: #fff

div.gldp-flatwhite
  box-shadow: 0 0 15px #C7C5C5
  
.core.border.monyear.title span
  font-size: 12px