.supervise-wrap
  width 100%
  height 100%
  padding 0 8px

.supervise-top
  padding 8px 0
  height 316px

.supervise-top-common
  float left
  position relative
  width calc((100% - 16px - 16px) / 3)
  height 100%
  margin-left 16px
  text-align center
  background #fff
  border-radius 5px
.supervise-inner
  width 50%
  height 100%
  position absolute
  left 25%

.knowledge-circle
  width 85px
  height 85px
  position absolute
  left 50%
  margin-left -(@width / 2)
  margin-top 8px
  border-radius 50%
  background url("~images/icon/knowledge.png") no-repeat -20px -16px
  box-shadow: 0 0 30px #CDDAFD;

.knowledge-top
  background url("~images/icon/top.png") no-repeat -20px -16px
  
.knowledge-week
  background url("~images/icon/week.png") no-repeat -20px -16px

.supervise-top-title
  font-size 18px
  color #99B3FF
  margin-top 50px

.knowledge-number 
  font-size 14px
  color #333
  margin-top 130px
  
.supervise-bottom
  float left
  position relative
  width 100%
  height 350px
  background #fff
  border-radius 5px
  overflow hidden
  
.common-special
  margin-left 0

#supervise-line
  width 100%
  height 280px
  background #fff

.supervise-bottom-select
  float right
  width 720px
  height 50px
  margin-top 20px
  
.supervise-bottom-select-title
  float left
  width 220px
  color #333
  font-size 14px
  
.supervise-bottom-select-tool
  float left
  width 170px
  height 50px
  line-height 50px
  margin-left 80px

.select-tool-day
  float left
  margin-left 5px
  cursor pointer
  
.select-tool-day i 
  display inline-block
  width 13px
  height 13px
  border-radius 50%
  border 1px solid #58B6FF
  
.select-tool-day span
  font-size 12px
  color #666
  
.select-tool-day-week i
  border 1px solid #A18FFF
  
.select-tool-day-month i
  border 1px solid #56CCBD
  
.supervise-bottom-select-time
  float left
  width 160px
  height 50px
  line-height 50px
  margin-left 40px
  cursor pointer

.supervise-bottom-select-time i
  display inline-block
  width 16px
  height 16px
  margin-left 2px
  vertical-align text-top
  background url(../images/icon/calender.png) no-repeat

